// Nuzzle Color Palette

$white: #FFFFFF;
$font-off-white: #FFFFF4;
$font-black: #323232;
$primary-navy: #12355F;
$primary-maroon: #A0384D;
$accent-pink: #FFAB96;
$accent-lavender: #D6CEEB;
$accent-yellow: #FEF391;
