<p><%= render "shared/card_booking", booking: @booking %> </p>
<form class="form-inline">
<p><%= link_to "Go to your bookings", bookings_path, class: "button" %></p>
<br>
<p><%= link_to "Back to available pets", pets_path, class: "button" %></p>
<br>
</form>
