<div class="photo-margin"></div>
<div class="banner" style="background-image: url(https://i.imgur.com/JLyU1fp.jpg);">
  <div class="container text-center">
      <h1>Pet snuggles on demand</h1>
      <p>Nuzzle brings pets<br>directly to your door</p>
      <button class="banner-button">Learn More</button>
  </div>
</div>
