<div class="container-fluid">
  <div class="row">
    <div class="col">
        <div class="pet_card">
          <div class="product-img" style="background-image: url(https://i.imgur.com/PtlwGed.jpg);">
          </div>
          <div  class="grid-card-infos">
            <h2>Kwankie</h2>
            <h3>Tabby Cat</h3>
            <p>Meow! I'm Kwankie. I love to play with you and catnip makes me go totally bonkers. You'll love it! Bring me home if you dare. I'll make your life so much fun!</p>
            <button class="button">Book Alfie</button>
          </div>
        </div>
    </div>

    <div class="col">

        <div class="pet_card">
          <div class="product-img" style="background-image: url('https://i.imgur.com/MLRHHgP.jpg');">
          </div>
          <div class="grid-card-infos">
            <h2>Karma</h2>
            <h3>Chameleon</h3>
            <p>I'm the coolest, don't you agree? I can change colors and pinch you just a little bit when I walk. You know you want to hold an exotic pet like me! </p>
            <button class="button">Book Karma</button>
          </div>
        </div>
    </div>

    <div class="col">

        <div class="pet_card">
          <div class="product-img" style="background-image: url('https://i.imgur.com/kIeMOJW.jpg');">
          </div>
          <div class="grid-card-infos">
            <h2>Logan</h2>
            <h3>Goldfish</h3>
            <p>Blurb, blurb, blurb. You'll love staring into my googley eyes and watching me wiggle around my tank. Let's play peek a boo!</p>
            <button class="button">Book Logan</button>
          </div>
        </div>
    </div>
  </div>
</div>
