<div class="navbar">
  <div class="navbar-links">
    <a href="/"><i class="fas fa-home"></i></a>
    <a href="#">About Nuzzle</a>
    <a href="#">Find Pets</a>
  </div>
  <div class="navbar-profile">
    <%= link_to 'logout', destroy_user_session_path, method: :delete  %>
    <div class="dropdown-banana">
      <button class="dropbtn">My Nuzzle
        <i class="fas fa-heart"></i>
      </button>
      <div class="dropdown-content">
        <%= link_to "My bookings", bookings_path %>
        <%= link_to "Add your pet", new_pet_path %>
      </div>
    </div>

   <img class="avatar" alt="avatar" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" />
  </div>
</div>
