<div class="navbar">
  <div class="navbar-links">
    <a href="#"><i class="fas fa-home"></i></a>
    <a href="#">About Nuzzle</a>
    <a href="#">Find Pets</a>
  </div>
  <div class="navbar-profile">
    <%= link_to 'logout', destroy_user_session_path, method: :delete  %>
    <a href="#">My Nuzzle <i class="fas fa-heart"></i> </a>
   <img class="avatar" alt="avatar" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" />
  </div>
</div>
</html>
